[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
twine = "*"

[dev-packages]
behave = "*"
coverage = "*"
"autopep8" = "*"
pre-commit = "*"
black = "*"
twine = "*"
keyring = "*"
pytest = "*"
moto = "*"
